fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-dotenv
httpx
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
python-jose[cryptography]
passlib[bcrypt]
bcrypt<4.0.0
python-multipart
alembic
aiosqlite
greenlet
email-validator
psycopg2-binary
telethon